DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
JWT_SECRET="replace-with-32-byte-random-secret"
JWT_REFRESH_SECRET="replace-with-another-32-byte-random-secret"
NEXT_PUBLIC_API_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
RESEND_API_KEY=""
EMAIL_FROM="TaskFlow <noreply@example.com>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
